<div class="">
    <h2>Config</h2>
</div>
<section class="section">
    <div class="form-inline">
        <div class="w-25 form-input">
            <div class="label-title">
                ID
            </div>
            <div class="">
                <input type="text" name="vid" [ngModel]="project.vid" [readonly]="true" />
            </div>
        </div>
        <div class="w-50 form-input">
            <div class="label-title">
                Name
            </div>
            <div class="">
                <input type="text" name="id" [(ngModel)]="project.name" placeholder="Name" />
            </div>
        </div>
        <div class="w-25 form-input">
            <div class="label-title">
                Status
            </div>
            <div class="">
                <label class="select">
                    <select name="status" [(ngModel)]="project.status">
                        <option value="true">Active</option>
                        <option value="false">Unactive</option>
                    </select>
                </label>
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="w-100 form-input">
            <div class="label-title">
                Description
            </div>
            <div class="">
                <textarea placeholder="Descript..." [(ngModel)]="project.description"></textarea>
            </div>
        </div>
    </div>
    <div class="form-inline">
        <div class="w-100 form-input">
            <div class="label-title">
                Repository
            </div>
            <div class="">
                <input type="text" name="repository" [(ngModel)]="project.repository" />
            </div>
        </div>
    </div>
</section>
<section class="section">
    <entity-group [title]="'Environments'" [entities]="project.environment" (out)="onEnvironment($event)"></entity-group>
</section>
<section class="section form-inline between">
    <div class="">
        <button class="btn btn-sky" (click)="onUpdate()">Save</button>
    </div>
    <div class="">
        <button class="btn btn-danger">Delete</button>
    </div>
</section>
