<div class="wrapper" id="wrapper">
  <div class="top-color">
    <div class="img-profile">
      <input type="file" class="picture-input" #pictureInput (change)="uploadPicture($event)" />
      <img src="" />
      <div class="upload" *ngIf="!isOtherUser" (click)="selectPicture()">
          <i class="material-icons btn-icon">photo_camera</i>
      </div>
    </div>
  </div>
  <div class="info" *ngIf="page === 'info'">
    <div class="name">
      <input type="text" spellcheck="false" [(ngModel)]="user.firstname" />
      <input type="text" spellcheck="false" [(ngModel)]="user.lastname" />
    </div>
    <div class="email">
      <input type="text" spellcheck="false" [(ngModel)]="user.email" />
    </div>
  </div>
  <div class="change-password" *ngIf="page === 'password'">
    <div class="old form-inline">
      <input type="text" spellcheck="false" [(ngModel)]="password.old" placeholder="Old Password"/>
    </div>
    <div class="new form-inline">
      <input type="text" spellcheck="false" [(ngModel)]="password.new" placeholder="New Password"/>
    </div>
    <div class="new form-inline">
      <input type="text" spellcheck="false" [(ngModel)]="password.newconfirm" placeholder="Confirm New Password"/>
    </div>
  </div>
  <div class="options" *ngIf="!isOtherUser">
    <button class="btn btn-sky outline" (click)="onSubmit()">SAVE</button>
    <div class="change-page" [ngSwitch]="page">
      <label class="link" *ngSwitchCase="'info'" (click)="onPage('password')">Change Password</label>
      <label class="link" *ngSwitchCase="'password'" (click)="onPage('info')">Profile</label>
    </div>
  </div>
</div>