@import "colors";

.wrapper {
    text-align: center;
    padding: 20px 0;
    color: $gray_2;
    .icon {
        display: flex;
        justify-content: center;
        font-size: 3em;
    }
    .message {
        font-size: 2em;
        font-weight: 500;
    }
}