<div class="wrapper">
  <div class="info-wrapper">


    <img src="assets/imgs/anonymock.png" height=220>
    <p>AnonyMock is the web application developed to help “frontend software developer”</p>
    <p>to simulate API and generate API test data by themselves.</p>


  </div>

  <div class="card-wrapper w-30">
    <div class="image-circle-wrapper">
      <div class="image-circle">
        <i class="material-icons">person</i>
      </div>
    </div>
    <form ngSubmit="onSubmit()">
      <section class="">
        <div class="title">
          SIGN IN
        </div>
      </section>
      <section class="content">
        <div class="alert" *ngIf="isAlert">
          <i class="material-icons btn-icon">report_problem</i>
          <label>Username or Password is invaild</label>
        </div>
        <div class="form-inline">
          <div class="w-60 form-input">
            <div class="">
              <input type="text" name="username" placeholder="Username" [(ngModel)]="username" />
            </div>
          </div>
        </div>
        <div class="form-inline">
          <div class="w-60 form-input">
            <div class="">
              <input type="password" name="password" placeholder="Password" [(ngModel)]="password" />
            </div>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="form-inline">
          <button class="btn btn-sky btn-login w-100" (click)="onSubmit()">SIGN IN</button>
        </div>
        <div class="remember form-inline">
          <div class="checkbox">
            <input type="checkbox">
            <span class="checkmark"></span>
          </div>
          Remember me on this computer
        </div>
        <div class="form-inline to-sign-up">
          <label [routerLink]="'../sign-up'">(Sign up)</label>
        </div>
      </section>
    </form>
  </div>
</div>
