<div class="generate">
  <div class="items">
    <div class="w-75 details">
      <label *ngIf="invalid.isError">{{ invalid.message }}</label>
    </div>
    <div class="w-25 options padding-left-35">
      <div class="item">
        <input type="text" name="count" placeholder="Count data" value="0" (keypress)="onCountKeyPress($event)" />
      </div>
      <div class="item">
        <button class="btn btn-sky outline" (click)="onSubmit()">Generate</button>
      </div>
    </div>
  </div>
  <code-editor
    [text]="model"
    [mode]="'json'"
    (change)="onDataChange($event)"></code-editor>
</div>