<section class="section">
  <input type="text" name="name" [ngModel]="response.name" placeholder="Response name"/>
</section>
<div class="title-center">
  REQUEST
</div>
<section class="section">
  <entity-group
    [title]="'Params'"
    [entities]="response.condition.params"
    [auto]="true"></entity-group>
</section>
<!-- <section class="section">
  <entity-group
    [title]="'Environments'"
    [entities]="envs"
    [auto]="true"></entity-group>
</section> -->
<section class="section">
  <request-group></request-group>
</section>
<div class="title-center">
  RESPONSE
</div>
<section class="section">
  <response-group></response-group>
</section>
<section class="section form-inline between">
  <div class="">
      <button class="btn btn-sky" (click)="onSubmit()">Save</button>
  </div>
  <div class="">
      <button class="btn btn-danger">Delete</button>
  </div>
</section>