<div class="wrapper">
  <section class="section">
    <input type="text" name="name" [(ngModel)]="response.name" placeholder="Response name"/>
  </section>
  <div class="title-center">
    REQUEST
  </div>
  <section class="section params">
    <param-group
      [path]="endpoint.path"
      [params]="response.condition.params"
      (save)="saveParams($event)"></param-group>
  </section>
  <section class="section">
    <request-group></request-group>
  </section>
  <div class="title-center">
    RESPONSE
  </div>
  <section class="section">
    <response-group></response-group>
  </section>
  <section class="section form-inline content-between">
    <div class="">
        <button class="btn btn-sky" (click)="save()">Save</button>
    </div>
    <div class="">
        <button class="btn btn-danger" (click)="delete()">Delete</button>
    </div>
  </section>
</div>