<div class="c-wrapper">
  <div class="c-header">
      <h3>Member</h3>
      <div class="options">
        <search-input (out)="onSearch($event)"></search-input>
      </div>
  </div>
  <!-- For Member -->
  <div class="c-list" *ngIf="!isSearchUser" >
    <ng-container *ngIf="!isLoading">
      <div class="c-list-item member" *ngFor="let member of members; let i = index">
        <div class="position">
          <img src="/assets/icons/crown.png" class="img-icon" *ngIf="member.isManager;else normal_member" (click)="onManager(member.user, !member.isManager)"/>
          <ng-template #normal_member>
              <div class="circle" (click)="onManager(member.user, !member.isManager)"></div>
          </ng-template>
        </div>
        <div class="info" (click)="modalUserPopup(member.user)">
          <div class="name w-30">
            {{ member.user.firstname }} {{ member.user.lastname }}
          </div>
          <div class="email w-30">
            {{ member.user.email }}
          </div>
        </div>
        <div class="options">
          <div class="exit" *ngIf="isManager">
            <i class="material-icons btn-icon btn-danger-icon" (click)="onExit(member.user)">exit_to_app</i>
          </div>
        </div>
      </div>
    </ng-container>
    <empty-item
      [items]="members"
      [isLoading]="isLoading"
      [icon]="'people'"
      [message]="'Members Not Found'"></empty-item>
  </div>
  <!-- For Add Member -->
  <div class="c-list for-add" *ngIf="isSearchUser">
    <ng-container *ngIf="!isLoading">
      <div class="c-list-item member" *ngFor="let user of users" (click)="onAdd(user)">
        <div class="info">
          <div class="name w-30">
            {{ user.firstname }} {{ user.lastname }}
          </div>
          <div class="email w-30">
            {{ user.email }}
          </div>
        </div>
        <div class="options">
          <div class="is-member" *ngIf="user.isMember">
            MEMBER
          </div>
          <div class="is-not-member" *ngIf="!user.isMember">
            ADD
          </div>
        </div>
      </div>
    </ng-container>
    <empty-item
      [items]="users"
      [isLoading]="isLoading"
      [icon]="'person'"
      [message]="'Users Not Found'"></empty-item>
  </div>
</div>