<div class="c-wrapper">
    <div class="c-header">
        <h4>Change Password</h4>
    </div>
    <div class="c-body">
        <div class="form-inline">
            <div class="w-100 form-input">
                <!-- <label class="label-title">
                    Old Password
                </label> -->
                <div class="">
                    <input type="text" name="old-password" placeholder="Old Password" />
                </div>
            </div>
        </div>
        <div class="form-inline">
            <div class="w-50 form-input">
                <!-- <label class="label-title">
                    New Password
                </label> -->
                <div class="">
                    <input type="text" name="new-password" placeholder="New Password" />
                </div>
            </div>
            <div class="w-50 form-input">
                <!-- <label class="label-title">
                    Confirm New Password
                </label> -->
                <div class="">
                    <input type="text" name="confirm-new-password" placeholder="Confirm New Password" />
                </div>
            </div>
        </div>
    </div>
    <div class="c-footer">
        <section class="section form-inline content-between">
            <div class="">
                <button class="btn btn-sky">Change Password</button>
            </div>
            <div class="">
            </div>
        </section>
    </div>
</div>