@import "colors";

    .c-header {
        .title {
            display: flex;
            align-items: center;
            flex: 1;
            .arrow {
                transition: transform .5s, color .5s;
            }
            .arrow.active {
                color: $sky_2;
                transform: rotateZ(90deg)
            }
        }
    }
    .expand {
        max-height: 0px;
        overflow: hidden;
        transition:  height .5s, max-height .5s;
    }
    .expand.active {
        max-height: 500px !important;
    }