<div class="import">
  <div class="items">
    <div class="details">
      <div class="item w-50">
        <label *ngIf="invalid.isError">{{ invalid.message }}</label>
      </div>
      <div class="item w-25">
        Documents : {{ row }}
      </div>
    </div>
    <div class="options">
      <div class="item">
        <input type="file" class="file-input" #jsonImport (change)="import($event)" accept=".json" />
        <button class="btn btn-sky outline" (click)="onImport()">Import Data</button>
      </div>
      <div class="item">
        <button class="btn btn-sky outline" (click)="onSubmit()">Confirm</button>
      </div>
    </div>
  </div>
  <json-multi-view [data]="data" (save)="onDataChange($event)"></json-multi-view>
</div>