<div class="import">
  <div class="section">
    <div class="w-75 details">
      <div class="item w-25">
        Documents : {{ row }}
      </div>
      <div class="item w-25">
        Size : 16M
      </div>
      <div class="item w-50">
      </div>
    </div>
    <div class="w-25 options">
      <div class="item">
        <button class="btn btn-sky outline">Import Data</button>
      </div>
      <div class="item">
        <button class="btn btn-sky outline">Confirm</button>
      </div>
    </div>
  </div>
  <code-editor
    [text]="'[]'"
    [mode]="'json'"
    (change)="onDataChange($event)"></code-editor>
</div>