.import {
    .section {
        display: flex;
        padding-bottom: 10px;
        .details {
            display: flex;
            align-items: center;
        }
        .options {
            display: flex;
            justify-content: flex-end;
            .item:not(:last-child) {
                padding-right: 10px;
            }
        }
    }
}