@import "colors";

$border: #253545;

.wrapper {
    height: 100%;
    width: 200px;
    min-width: 200px;
    background-color: #1d2b36;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    box-shadow: -10px 15px 10px 15px rgba(#050505, .3);
}
.banner {
    height: 50px;
    min-height: 50px;
    background-color: #0c161d;
}
.profile {
    display: flex;
    align-items: center;
    min-height: 71px;
    padding: 10px;
    color: $gray_1;
    font-weight: 600;
    border-bottom: 1px solid $border;
    .img-profile {
        width: 50px;
        height: 50px;
        max-width: 80px;
        max-height: 80px;
        border-radius: 360px;
        background-color: $white;
        overflow: hidden;
        img {
            width: 100%
        }
    }
    .name-profile {
        padding-left: 10px;
        text-align: center;
        cursor: pointer;
    }
}
.admin-bar,
.project-bar {
    color: $gray_2;
    background-color: #101c24;
    min-height: 30px;
    padding: 5px 0; 
    padding-left: 10px;
    font-weight: 600;
    border-bottom: 1px solid $border;
    display: flex;
    align-content: center;
    justify-content: space-between;
}
.project-bar {
    padding-right: 10px;
    .create {
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    i {
        font-weight: 600;
        font-size: 18px;
    }
}
.new-project-row {
    max-height: 39px;
    overflow: hidden;
    input {
        color: $gray_2 !important;
        border: 0;
        padding: 0;
        height: 100%;
        min-height: 100%;
        background-color: rgba($white, 0);
        caret-color: $gray_2;
    }
}
.projects-wrapper {
    overflow-y: auto;
}
.projects-wrapper::-webkit-scrollbar {
    width: 6px;
    -webkit-appearance: none;
}
.projects-wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(#fff, 0);
    transition: background-color .3s;
}
.projects-wrapper::-webkit-scrollbar-thumb:hover {
    background-color: rgba(22, 22, 22, 0.692);
}
.new-project-row,
.member-menu,
.project-menu {
    color: $gray_2;
    font-size: 12px;
    .main-row {
        cursor: pointer;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid $border;
    }
    .main-row:hover {
        color: $gray_0;
    }
    .expand {
        max-height: 0px;
        overflow: hidden;
        transition: height .5s, max-height .5s;
        .sub-row {
            cursor: pointer;
            display: flex;
            align-items: center;
            border-bottom: 1px solid $border;
            background-color: #202f3e;
            padding-left: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            transition: background-color .2s, color .2s;
            i {
                padding-right: 10px;
                font-size: 18px;
            }
        }
        .sub-row.active,
        .sub-row:hover {
            color: $gray_0;
            background-color: #202a39;
        }
    }
}
.member-menu.active,
.create-project-menu.active,
.project-menu.active {
    .main-row {
        color: $gray_0;
        background-color: #1a2b36;
        position: relative;
    }
    .main-row:before {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        top: 0;
        border-right: 3px solid $ocean_3;
    }
    .expand {
        max-height: 500px !important;
        .sub-row.active {
            color: $ocean_3;
        }
    }
}

.pointer {
    cursor: pointer;
}