@import "colors";
.wrapper {
    min-height: 100%;
}

.top-bar {
    position: relative;
    height: 50px;
    z-index: 500;
}

.top-bar-fixed {
    display: flex;
    width: 100%;
    height: inherit;
    position: fixed;
    background-color: $banner;
    .banner {
        width: 200px;
        background-color: $banner;
    }
    .content {
        display: flex;
        flex: 1;
        justify-content: flex-end;
        padding: 7px 20px;
        .profile {
            position: relative;
            .img-profile {
                width: 35px;
                height: 35px;
                max-width: 80px;
                max-height: 80px;
                border-radius: 360px;
                border: 1px solid;
                border-color: rgba($white, 0);
                background-color: $white;
                overflow: hidden;
                cursor: pointer;
                img {
                    width: 100%
                }
            }
            .img-profile.active,
            .img-profile:hover {
                border-color: $pink_0;
            }
            .profile-dropdown {
                position: absolute;
                right: -10px;
                top: 40px;
                z-index: 99;
            }
        }
    }
}

.body {
    display: flex;
    .left {}
    .content {
        // margin: 0 auto;
        // padding-right: 35px;
        padding: 35px;
        width: 100%;
        max-width: 900px;
        max-width: 1500px;
    }
}

.notification {
    position: absolute;
    right: 15px;
    bottom: 100px;
    z-index: 999;
}

.profile-popup {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 888;
}