<div class="c-wrapper">
  <div class="c-header">
    <h4>Database</h4>
  </div>
  <div class="c-body">
    <div class="detail content-between">
        <div class="">
            Documents : {{ row }}
        </div>
        <div class="export">
            <a #download></a>
            <button class="btn btn-sky outline" (click)="onExport()">Export</button>
        </div>
    </div>
    <code-editor
        [text]="data"
        [mode]="'json'"
        [readOnly]="true"></code-editor>
  </div>
</div>