<div class="c-wrapper">
  <div class="c-header">
    <h3>Folders</h3>
    <div class="options">
      <search-input (out)="onSearch($event)"></search-input>
      <div class="new center-align" (click)="onNew()">
        <i class="material-icons btn-icon btn-sky-icon">add_box</i>
      </div>
    </div>
  </div>
  <div class="c-list">
    <div class="c-list-item folder new-folder" [class.none]="!isNewFolder">
      <div class="id">
        new
      </div>
      <div class="name">
        <div class="input">
          <form #form="ngForm" (ngSubmit)="onSubmitNewFolder(form.value)">
            <input type="text" name="name" class="input-name" placeholder="New Folder" ngModel (blur)="onNewBlur()" />
          </form>
        </div>
      </div>
    </div>
    <ng-container *ngIf="!isLoading">
      <div class="c-list-item folder" *ngFor="let folder of folders; let i = index">
        <div class="id">
          {{ folder.id }}
        </div>
        <div class="name" [class.none]="isRename === folder.id" [routerLink]="'./'+folder.id">
          {{ folder.name }} <label class="count">({{ folder.countEndpoints }})</label>
        </div>
        <form #form="ngForm" (ngSubmit)="onSubmitRename(folder.id, form.value)" class="rename" [class.none]="isRename !== folder.id">
          <input type="text" name="rename" class="input-rename-{{ folder.id }}" placeholder="{{ folder.name }}" ngModel (blur)="onRenameBlur()" />
        </form>
        <div class="options" [class.none]="isRename === folder.id">
          <div class="rename">
            <i class="material-icons btn-icon btn-sky-icon" (click)="onRename(folder)">mode_edit</i>
          </div>
        </div>
      </div>
    </ng-container>
    <empty-item
      *ngIf="!isNewFolder"
      [items]="folders"
      [isLoading]="isLoading"
      [icon]="'folder_open'"
      [message]="'Folders Not Found'"></empty-item>
  </div>
</div>