@import "colors";

.folders {
    border: 1px solid $gray_1;
    border-radius: 2px;
    background-color: $white;
    .header {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 10px;
        max-height: 40px;
        border-bottom: 1px solid $gray_1;
        .title {
            display: flex;
            align-items: center;
            flex: 1;
            
        }
        .new {
            display: flex;
            align-items: center;
            justify-content: flex-end;
        }
    }
    .items {
        padding: 10px 0;
        .new-folder {
            input.input-name {
                border: 0;
                padding-left: 0;
                background-color: rgba($white, 0);
                font-size: 14px;
            }
        }
        .item {
            padding: 10px;
            display: flex;
            align-items: center;
            height: 40px;
            .id {
                color: $sky_2;
                width: 80px;
                font-size: 12px;
                cursor: pointer;
            }
            .name,
            > .rename {
                padding-left: 10px;
                font-weight: 400;
                font-size: 14px;
                flex: 1;
                .count {
                    padding-left: 10px;
                    color: $gray_2;
                }
                input {
                    font-size: 14px;
                    min-height: auto !important;
                    padding: 0px;
                    border: 0px;
                    background-color: rgba($white, 0);
                }
            }
            .options {
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                opacity: 0.1;
                transition: opacity .2s;
                .rename,
                .open {
                    padding: 0 5px;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .item:hover {
            background-color: rgba($sky_0, 0.1);
            .options {
                opacity: 1;
            }
        }
    }
}