<div class="">
  <h2>Folders</h2>
</div>
  
<div class="search">
  <div class="header">
    SEARCH
  </div>
  <div class="text-input">
    <input type="text" name="input" class="input" />
  </div>
</div>
<div class="folders">
  <div class="header">
    <div class="title">
      Folders
    </div>
    <div class="new" (click)="onNew()">
      <i class="material-icons btn-icon btn-sky-icon">add_box</i>
    </div>
  </div>
  <div class="items">
    <div class="item new-folder" *ngIf="isNewFolder">
      <div class="id">
        new
      </div>
      <div class="name">
        <div class="input">
          <form (ngSubmit)="onSubmitNewFolder()">
            <input type="text" name="name" class="input-name" placeholder="New Folder"/>
          </form>
        </div>
      </div>
    </div>
    <div class="item" *ngFor="let folder of folders">
      <div class="id">
        {{ folder.id }}
      </div>
      <div class="name" [routerLink]="'./'+ folder.id">
        {{ folder.name }} <label class="count">({{ folder.countEndpoints }})</label>
      </div>
      <div class="options">
        <div class="rename">
          <i class="material-icons btn-icon btn-sky-icon">mode_edit</i>
        </div>
      </div>
    </div>
  </div>
</div>