@import "colors";

.search {
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin: -5px 0;
    i {
        position: absolute;
        right: 9px;
        top: 6px;
        z-index: 1;
    }
    .text-input {
        width: 40px;
        overflow: hidden;
        border-radius: 30px;
        opacity: 0;
        border: 1px solid rgba($gray_1, 0.5);
        transition: opacity 1s, width .5s;
        .input {
            min-height: 30px;
            height: 30px;
            border: 0px;
            padding-left: 20px; 
            padding-right: 40px; 
            border-radius: 30px;
        }
    }
    .text-input.active,
    .text-input:hover,
    i:hover + .text-input {
        opacity: 1;
        width: 100%;
    }
}