<div class="generator">
  <div class="tabs">
    <div class="item" *ngFor="let item of menu" [class.active]="menuSelector === item.id" (click)="onSelectMenu(item.id)">
      {{ item.title }}
    </div>
  </div>
  <div class="content" [ngSwitch]="menuSelector">
    <div *ngSwitchCase="'M01'">
      <code-editor
        [text]="'{}'"
        [mode]="'json'"
        [readOnly]="true"></code-editor>
    </div>
    <div *ngSwitchCase="'M02'">
        <code-editor
          [text]="'{}'"
          [mode]="'json'"
          [readOnly]="true"></code-editor>
    </div>
  </div>
</div>