.wrapper {
    margin-left: 20px;
}
.key {
    color: #a5c261 !important;
}
.value {
    
}
.child {
    padding-left: 20px;
}
.child.hidden {
    visibility: hidden;
    max-height: 0px;
}
.expand-icon {
    position: absolute;
    left: -25px;
    top: 6px;
}
.expand-icon.expand {
    transform: rotateZ(90deg);
}
.parent {
    position: relative;
    .add-bar {
        display: none;
        label {
            margin: 0 3px;
            font-weight: 500;
            cursor: pointer;
        }
        label:hover {
            font-weight: 600;
        }
    }
}
.parent:hover {
    .add-bar {
        display: inline;
    }
}
.parent
.text {
    padding-left: 5px;
}
#hidden-key,
#hidden-value {
    visibility: hidden;
    position: absolute;
}
input[type=text] {
    // text-align: center;
    border: 0;
    padding: 0px !important;
    background-color: transparent;
}
#hidden-key,
#hidden-value,
input[type=text] {
    font-size: 14px;
    font-weight: 400;
}