.wrapper {
    margin-left: 30px;
}
.key {
    color: #C82829 !important;
}
.value {
    input.string {
        color: #718C00 !important;
    }
    input.number {
        color: #F5871F !important;
    }
    input.boolean {
        color: #F5871F !important;
    }
}
.child {
    padding-left: 20px;
}
.child.hidden {
    visibility: hidden;
    max-height: 0px;
}
.expand-icon {
    position: absolute;
    font-size: 18px;
    left: -22px;
    top: 4px;
}
.expand-icon.expand {
    transform: rotateZ(90deg);
}
.parent {
    position: relative;
    .add-bar {
        display: none;
        label {
            margin: 0 3px;
            font-weight: 500;
            cursor: pointer;
        }
        label:hover {
            font-weight: 600;
        }
    }
}
.parent:hover {
    .add-bar {
        display: inline;
    }
}
.parent
.text {
    padding-left: 5px;
}
#hidden-key,
#hidden-value {
    visibility: hidden;
    position: absolute;
}
input[type=text] {
    min-height: 25px !important;
    border: 0;
    padding: 0px !important;
    background-color: transparent;
}
#hidden-key,
#hidden-value,
input[type=text] {
    font-size: 13px;
    font-weight: 400;
}