<div class="wrapper">
  <span id="hidden-key">{{ key }}</span>
  <span id="hidden-value">{{ value }}</span>
  <div *ngIf="isJSON(value)">
    <div class="parent">
      <i class="material-icons expand-icon btn-icon" [class.expand]="isExpand" (click)="onExpand()">chevron_right</i>
      <label>
        <input type="text" class="key" [(ngModel)]="key" (ngModelChange)="onKeyChange($event)" [ngStyle]="{ 'width.px': keyWidth }" />: {{ (value | keys).length }} keys
      </label>
    </div>
    <div class="child" [class.hidden]="!isExpand">
      <div *ngFor="let key of (value | keys)">
        <json-ui [key]="key" [value]="value[key]"></json-ui>
      </div>
    </div>
  </div>
  <div *ngIf="isArray(value)">
    <div class="parent">
      <i class="material-icons expand-icon btn-icon" [class.expand]="isExpand" (click)="onExpand()">chevron_right</i>
      <label>
        <input type="text" class="key" [(ngModel)]="key" (ngModelChange)="onKeyChange($event)" [ngStyle]="{ 'width.px': keyWidth }" />: {{ (value | keys).length }} keys
      </label>
    </div>
    <div class="child" [class.hidden]="!isExpand">
      <div *ngFor="let key of value; let i = index">
        <json-ui [key]="i" [value]="key"></json-ui>
      </div>
    </div>
    </div>
  <div *ngIf="!isJSON(value) && !isArray(value)">
    <div class="text">
      <input type="text" class="key" [(ngModel)]="key" (ngModelChange)="onKeyChange($event)" [ngStyle]="{ 'width.px': keyWidth }" />: <input type="text" class="value" [(ngModel)]="value" [ngStyle]="{ 'width.px': valueWidth }" />
  </div>
</div>
