<http-messages
  [headerTab]="true"
  [bodyTab]="true"
  [isForwardInput]="true"
  [isFindOneInput]="true"
  [statusCodeInput]="true"
  [delayInput]="true"
  [header]="response.headers"
  [body]="response.body"
  [isForward]="response.isForward"
  [isFindOne]="response.isFindOne"
  [delay]="response.delay"
  [statusCode]="response.statusCode"
  [disableShadow]="true"
  (outputHeader)="saveHeader($event)"
  (outputBody)="saveBody($event)"
  (outputIsForward)="saveIsForward($event)"
  (outputIsFindOne)="saveIsFindOne($event)"
  (outputStatusCode)="saveStatusCode($event)"
  (outputDelay)="saveDelay($event)"
></http-messages>
