<div class="">
    <h2>Generator</h2>
</div>
<section class="section">
    <db-generator></db-generator>
</section>
<div class="">
    <h2>Database</h2>
</div>
<section class="section database">
    <div class="detail">
        <div class="w-25">
            Documents : {{ row }}
        </div>
        <div class="w-25">
            Size : {{ size }} MB
        </div>
        <div class="w-50 export">
            <button class="btn btn-sky outline">Export</button>
        </div>
    </div>
    <code-editor
        [text]="data"
        [mode]="'json'"
        [readOnly]="true"></code-editor>
</section>
