button.btn {
    min-height: 35px;
    max-height: 35px;
    background-color: $white;
    border: 0px;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 0px;
    cursor: pointer;
}

// START SKY BUTTON
button.btn.btn-sky {
    color: $white;
    background-color: $sky_2;
}

button.btn.btn-sky:hover {
    background-color: $sky_0;
}

button.btn.btn-sky:active {
    background-color: $sky_3;
}

button.btn.btn-sky.outline {
    color: $greenmint_1;
    background-color: rgba($white, 0);
    border: 1px solid;
    border-color: $greenmint_1;
}

button.btn.btn-sky.outline:hover {
    color: $greenmint_1;
    border-color: $greenmint_1;
}

button.btn.btn-sky.outline:active {
    color: $greenmint;
    border-color: $greenmint;
}

// END SKY BUTTON
// START DANGET BUTTON
button.btn.btn-danger {
    color: $white;
    background-color: $danger_2;
}

button.btn.btn-danger:hover {
    background-color: $danger_0;
}

button.btn.btn-danger:active {
    background-color: $danger_3;
}

button.btn.btn-danger.outline {
    color: $danger_2;
    background-color: rgba($white, 0);
    border: 1px solid;
    border-color: $danger_2;
}

button.btn.btn-danger.outline:hover {
    color: $danger_0;
    border-color: $danger_0;
}

button.btn.btn-danger.outline:active {
    color: $danger_3;
    border-color: $danger_3;
}

// END DANGET BUTTON