$gray_0: #f0f0f0;
$gray_1: #e2e2e2;
$gray_2: #b6b6b6;
$gray_3: #9c9c9c;
$gray_4: #808080;

$sky_0: #72d1fe;
$sky_1: #4bb1e2;
$sky_2: #3dabe1; //normal
$sky_3: #297bc2; // active

$danger_0: #ff8374;
$danger_1: #eb6553;
$danger_2: #ea5947;
$danger_3: #da432f;

$white: #ffffff;
$black: #172B4D;

$border: $gray_0;