$gray_0: #f0f0f0;
$gray_1: #e2e2e2;
$gray_2: #b6b6b6;
$gray_3: #9c9c9c;
$gray_4: #808080;
$sky_0: #68c7ec;
$sky_1: #34b3e5;
$sky_2: #00a0dd; //normal
$sky_3: #008cca; // active
$danger_0: #f38978;
$danger_1: #ef6b5a;
$danger_2: #dd5143;
$danger_3: #c9352f;
$orange_0: #f3b86d;
$orange_1: #ec9f48;
$orange_2: #e68523;
$orange_3: #d1701c;
$green_0: #b0d774;
$green_1: #91c749;
$green_2: #7bb82f;
$green_3: #68a62a;
$ocean_3: #4e9b8a; //active
$ocean_2: #5fbeaa; //hover
$purple_0: #b79dc7;
$purple_1: #a387ba;
$purple_2: #8d6cab;
$purple_3: #7b539d;
$white: #ffffff;
$black: #797979;
$border: $gray_0;
$get_color: $sky_3;
$post_color: $green_3;
$put_color: $orange_3;
$patch_color: $purple_3;
$delete_color: $danger_3;