@import "colors";
.c-wrapper {
    background-color: $white;
    // overflow: hidden;
    border-radius: 3px;
    border: 1px solid $gray_0;
    // box-shadow: 0px 1px 1px 1px $gray_0;
    .c-header {
        display: flex;
        padding: 10px 12px 10px 12px;
        align-items: center;
        border-bottom: 1px solid $gray_0;
        // box-shadow: 0 0 10px 3px $gray_0;
    }
    .c-body {
        padding: 15px;
    }
    .c-footer {
        border-top: 1px solid $gray_0;
        padding: 15px;
    }
}

.c-tabs {
    display: flex;
    box-shadow: 0 0 10px 3px $gray_0;
    .c-tab-item {
        cursor: pointer;
        padding: 10px 12px 10px 12px;
        font-weight: 400;
        border-bottom: 3px solid;
        border-color: rgba($white, 0);
        transition: border-color .5s;
    }
    .c-tab-item.active {
        color: $ocean_3;
        border-color: $ocean_3 !important;
    }
}

.c-list {
    // overflow-y: hidden;
    .c-list-item {
        display: flex;
        padding: 15px;
        border-left: 3px solid rgba($ocean_3, 0);
        transition: border-color .5s, margin .5s;
    }
    .c-list-item:hover {
        margin: 0 -5px;
        background-color: $white;
        box-shadow: 0 0 10px 0 $gray_0;
        // border: 1px solid $gray_0;
        border-left: 3px solid rgba($ocean_3, 1);
        cursor: pointer;
    }
}