@import "colors";


.c-wrapper {
    background-color: $white;
    border-radius: 3px;
    border: 1px solid $gray_1;
    box-shadow: 0 2px 12px 0 #dfe3eb;
    .c-header {
        display: flex;
        padding: 15px;
        align-items: center;
        border-bottom: 1px solid $gray_0;
        box-shadow: 0px 3px 30px -5px $gray_0;
        max-height: 50px;
    }
    .c-body {
        padding: 15px;
    }
    .c-footer {
        border-top: 1px solid $gray_0;
        padding: 15px;
    }
}

.c-tabs {
    display: flex;
    border-bottom: 1px solid $gray_0;
    box-shadow: 0px 3px 30px -5px $gray_0;
    max-height: 50px;
    .c-tab-item {
        cursor: pointer;
        padding: 15px;
        font-weight: 400;
        border-bottom: 3px solid;
        border-color: rgba($white, 0);
        transition: border-color .5s;
    }
    .c-tab-item.active {
        color: $ocean_3;
        border-color: $ocean_3 !important;
    }
}

.c-list {
    .c-list-item {
        display: flex;
        padding: 15px;
        border-left: 3px solid rgba($ocean_3, 0);
        transition: background-color .5s, border-color .5s, margin .5s;
    }
    .c-list-item.active,
    .c-list-item:hover {
        margin: 0 -5px;
        background-color: $white;
        box-shadow: 0 0 10px 0 $gray_0;
        border-left: 3px solid rgba($ocean_3, 1);
        cursor: pointer;
    }
    .c-list-item.disable-scale {
        margin: 0 !important;
    }
    .c-list-item.disable-border {
        border: 0 !important;
    }
}

.disable-shadow {
    box-shadow: 0 0 0 0!important;
}