@import "colors";

img.img-icon {
    max-width: 20px;
    max-height: 20px;
}

.btn-icon {
    cursor: pointer;
    transition: color .2;
}

.btn-sky-icon:hover {
    color: $sky_2;
}

.btn-sky-icon:active {
    color: $sky_3;
}

.btn-danger-icon:hover {
    color: $danger_2;
}

.btn-danger-icon:active {
    color: $danger_3;
}