<div class="wrapper">
  <div class="tabs">
    <div class="item" *ngFor="let item of menu" [class.active]="menuSelector === item.id" (click)="onSelectMenu(item.id)">
      {{ item.title }}
    </div>
  </div>
  <div class="content" [ngSwitch]="menuSelector">
    <request-header *ngSwitchCase="'M01'" [data]="headerData" (save)="saveHeader($event)"></request-header>
    <request-body *ngSwitchCase="'M02'" [data]="bodyData" (save)="saveBody($event)"></request-body>
    <request-query-string *ngSwitchCase="'M03'" [data]="queryStringData" (save)="saveQueryString($event)"></request-query-string>
  </div>
</div>