<div class="form-inline">
    <div class="w-100 form-input">
        <input type="text" name="name" [ngModel]="endpoint.name" class="" placeholder="Name" />
    </div>
</div>
<div class="form-inline">
    <div class="w-10 form-input">
        <label class="select">
            <select>
                <option value="get">GET</option>
                <option value="post">POST</option>
                <option value="put">PUT</option>
                <option value="patch">PATCH</option>
                <option value="delete">DELETE</option>
            </select>
        </label>
    </div>
    <div class="w-70 form-input">
        <input type="text" name="path" [ngModel]="endpoint.path" class="" placeholder="Path" (ngModelChange)="onPathChange($event)" />
    </div>
    <div class="w-20 form-input">
        <label class="select">
            <select>
                <option *ngFor="let folder of folders" [value]="folder.id">{{ folder.name }}</option>
            </select>
        </label>
    </div>
</div>

<hr>
<router-outlet></router-outlet>