<div class="form-inline">
    <div class="w-100 form-input">
        <div class="label-title">
            Name
        </div>
        <input type="text" name="name" [ngModel]="endpoint.name" class="" placeholder="Name" />
    </div>
</div>
<div class="form-inline">
    <div class="w-10 form-input">
        <div class="label-title">
            Method
        </div>
        <label class="select">
            <select>
                <option value="get">GET</option>
                <option value="post">POST</option>
                <option value="put">PUT</option>
                <option value="patch">PATCH</option>
                <option value="delete">DELETE</option>
            </select>
        </label>
    </div>
    <div class="w-70 form-input">
        <div class="label-title">
            Path
        </div>
        <input type="text" name="path" [ngModel]="endpoint.path" class="" placeholder="Path" (ngModelChange)="onPathChange($event)" />
    </div>
    <div class="w-20 form-input">
        <div class="label-title">
            Folder
        </div>
        <label class="select">
            <select>
                <option *ngFor="let folder of folders" [value]="folder.id">{{ folder.name }}</option>
            </select>
        </label>
    </div>
</div>

<hr>
<section class="section">
    <router-outlet></router-outlet>
</section>
<section class="section form-inline between">
    <div class="">
        <button class="btn btn-sky">Save</button>
    </div>
    <div class="">
        <button class="btn btn-danger">Delete</button>
    </div>
</section>
    