@import "colors";

.requests {
    margin-top: 15px;
    .request {
        display: flex;
        justify-content: space-between;
        .default.active {
            color: $green_2;
        }
        .name {
            padding-left: 15px;
            flex: 1;
            font-weight: 400;
        }
        .options {
            display: flex;
            .delete {
                opacity: .2;
                color: $danger_3;
            }
            .delete:hover {
                opacity: 1;
            }
        }
    }
}