@import "colors";

.management {
    border: 1px solid $gray_1;
    border-radius: 2px;
    background-color: $white;
}
.tabs {
    display: flex;
    .item {
        cursor: pointer;
        padding: 10px;
        border-right: 1px solid $gray_1;
    }
    .item.active {
        background-color: $gray_0;
        font-weight: 400;
    }
}
.content {
    border-top: 1px solid $gray_1;
}