<div class="responses">
    <div class="header">
        <div class="title">
        Responses
        </div>
        <div class="environments">
        <div class="environment dev" [class.active]="environment === 'dev'" (click)="onChangeEnvironment('dev')">
            Dev
        </div>
        <div class="environment test" [class.active]="environment === 'test'" (click)="onChangeEnvironment('test')">
            Test
        </div>
        </div>
        <div class="new" (click)="onNew()">
        <i class="material-icons btn-icon btn-sky-icon">add_box</i>
        </div>
    </div>
    <div class="items">
        <div class="item" *ngFor="let response of responses">
        <!-- <div class="id">
            {{ response.id }}
        </div> -->
        <div class="name" [routerLink]="'./'+response.id">
            {{ response.name }}
        </div>
        <div class="options">
            <div class="default">
            <i class="material-icons btn-icon btn-sky-icon">star</i>
            </div>
        </div>
        </div>
    </div>
</div>