@import "colors";

.c-wrapper {
    box-shadow: 0 0 0 0;
    .c-tabs {
        .options {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            padding-right: 15px;
            .new {
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
}
.new-response {
    animation: itemExpand .5s;
}
.response {
    display: flex;
    align-items: center;
    .default.active {
        color: $green_2;
    }
    .id {
        color: $sky_2;
        width: 80px;
        font-size: 12px;
        cursor: pointer;
    }
    .status-code {
        color: $sky_2;
        width: 80px;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
    }
    .name {
        padding-left: 10px;
        font-weight: 400;
        flex: 1;
    }
    .options {
        display: flex;
        .delete {
            opacity: .2;
            color: $danger_3;
        }
        .delete:hover {
            opacity: 1;
        }
    }
}