<!-- <div class="c-wrapper">
    <div class="c-header">
        <h4>Responses</h4>
        <div class="environments">
            <div class="environment dev" [class.active]="environment === 'dev'" (click)="onChangeEnvironment('dev')">
                Dev
            </div>
            <div class="environment test" [class.active]="environment === 'test'" (click)="onChangeEnvironment('test')">
                Test
            </div>
        </div>
        <div class="new" (click)="onNew()">
        <i class="material-icons btn-icon btn-sky-icon">add_box</i>
        </div>
    </div>
    <div class="c-list">
        <div class="c-list-item response" *ngFor="let response of responses">
            <div class="status-code">
                {{ response.response.statusCode }}
            </div>
            <div class="name" [routerLink]="'./'+response.id">
                {{ response.name }}
            </div>
            <div class="options">
                <div class="default">
                <i class="material-icons btn-icon btn-sky-icon">star</i>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="section form-inline content-between">
            <div class="">
                <button class="btn btn-sky" (click)="onSubmit()">Save</button>
            </div>
            <div class="">
                <button class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div> -->
<div class="c-wrapper">
    <div class="c-tabs">
        <div class="item c-tab-item" *ngFor="let item of menu" [class.active]="menuSelector.id === item.id" (click)="onSelectMenu(item)">
            {{ item.title }}
        </div>
        <div class="options">
            <div class="new" (click)="onNew()">
                <i class="material-icons btn-icon btn-sky-icon">add_box</i>
            </div>
        </div>
    </div>
    <div class="c-list">
        <div class="c-list-item response" [class.new-response]="response.isNew" *ngFor="let response of responses">
            <div class="status-code">
                {{ response.response.statusCode }}
            </div>
            <div class="name" [routerLink]="'./'+response.id">
                {{ response.name }}
            </div>
            <div class="options">
                <div class="default">
                <i class="material-icons btn-icon btn-sky-icon">star</i>
                </div>
            </div>
        </div>
    </div>
</div>

