@import "colors";

:host {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    position: absolute;
}

.search {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding-right: 15px;
}