@import "colors";
.wrapper {
    width: 280px;
    margin: 5px 0;
    animation: itemScale .5s forwards;
    animation-delay: 5s;
    animation-direction: reverse;
}

.box {
    display: flex;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 $gray_2;
    background-color: $white;
    animation: itemScale .3s forwards;
    .header {
        width: 60px;
        color: $white;
        font-size: 15px;
        font-weight: 800;
    }
    .header.success {
        background-color: $pink_0;
    }
    .header.error {
        background-color: $danger_2;
    }
    .content {
        padding: 15px;
        flex: 1;
        font-weight: 600;
    }
}

.close {
    font-size: 10px;
    opacity: .5;
}