@import "colors";

.add-item-bar {
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $ocean_3;
    color: $white;
    font-weight: 600;
    cursor: pointer;
}