@import "colors";
@import "fonts";
@import "material_icons";
@import "buttons";
@import "icons";
@import "input";

html, body {
    color: $black;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-family: "Open Sans";
    background-color: rgba($gray_0, 0.3);
}

body {
    overflow-y: scroll;
}

@for $i from 0 through 100 {
    .w-#{$i} {
        width: #{$i + "%"};
        padding-left: 5px;
        padding-right: 5px;
    }
    .w-#{$i}:first-child {
        padding-left: 0px;
    }
    .w-#{$i}:last-child {
        padding-right: 0px;
    }
}

h1,
h2,
h3,
h4 {
    margin: 0;
    margin-bottom: 10px; 
}

hr {
    border: 0;
    border-top: 1px solid $gray_0;
    margin: 20px 0 !important;
}

.section {
    margin-bottom: 20px;
}


label.label-title {
    padding-bottom: 2px;
    font-weight: 400;
}

label.link {
    cursor: pointer;
    color: $sky_1;
}

label.link:hover {
    color: $sky_2;
}

.title-center {
    text-align: center;
    padding-bottom: 10px;
    color: $gray_2;
    font-weight: 600;
}

.form-inline {
    margin-bottom: 10px;
    display: flex;
}

.form-input {
    // flex: 1;
}

.between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

* {
    outline: none;
    box-sizing: border-box;
}