@import "colors";
@import "fonts";
@import "material_icons";
@import "buttons";
@import "icons";

html, body {
    color: $black;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-family: "Open Sans";
}

@for $i from 0 through 100 {
    .w-#{$i} {
        width: #{$i + "%"};
        padding-left: 5px;
        padding-right: 5px;
    }
    .w-#{$i}:first-child {
        padding-left: 0px;
    }
    .w-#{$i}:last-child {
        padding-right: 0px;
    }
}

h1,
h2,
h3,
h4 {
    margin: 0;
    margin-bottom: 10px; 
}

hr {
    border: 0;
    border-top: 1px solid $gray_0;
    margin: 20px 0 !important;
}

input,
textarea,
label.select {
    min-height: 35px;
    max-height: 35px;
    width: 100%;
    max-width: 100%;
    flex: 1 0 auto;
    padding: 10px;
    background: #fff;
    border: 1px solid $gray_1;
    color: $black !important;
    border-radius: 1px;
    transition: box-shadow .1s ease,border-color .1s ease;
    font-style: normal;
    font-family: "Open Sans" !important;
}

input[type="checkbox"] {
    margin: 0px;
}

select {
    width: 100%;
    max-width: 100%;
    border: 0;
    padding: 8px;
    appearance: none;
    color: $black;
    background-color: rgba($white, 0);
    font-style: normal;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

label.select {
    width: 100%;
    display: flex;
    padding: 0;
    align-items: center;
    position: relative;
}

label.select:after {
    content: "\e313";
    font-family: "Material Icons";
    font-size: 14;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: 1;
    pointer-events: none;
    box-sizing: border-box;
    position: absolute;
    right: 5px;
}

textarea {
    resize: vertical;
    max-height: 100px;
}

input:hover,
textarea:hover,
select:hover,
label.select:hover {
    border-color: $sky_2;
}

label.select:hover:after {
    color: $sky_2;    
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    border-color: $sky_2;
}

.section {
    margin-bottom: 20px;
}


.label-title {
    padding-bottom: 2px;
    font-weight: 400;
}

.form-inline {
    margin-bottom: 10px;
    display: flex;
}

.form-input {
    // flex: 1;
}

* {
    outline: none;
    box-sizing: border-box;
}