<div class="endpoints">
  <div class="header">
    <div class="title">
      Endpoints
    </div>
    <div class="new" *ngIf="canNew" (click)="onNew()">
      <i class="material-icons btn-icon btn-sky-icon">add_box</i>
    </div>
  </div>
  <div class="items">
    <div class="item" *ngFor="let endpoint of endpoints">
      <div class="id">
        {{ endpoint.id }}
      </div>
      <div class="method">
        <span class="toggle-method toggle-{{ endpoint.method.name | lowercase }}">
          {{ endpoint.method.name }}
        </span>
      </div>
      <div class="name" (click)="onLink(endpoint.id)">
        {{ endpoint.name }}
      </div>
      <div class="options">
        <div class="copy">
          <i class="material-icons btn-icon btn-sky-icon" ngxClipboard  [cbContent]="copyPath(endpoint.path)">content_copy</i>
        </div>
        <div class="share">
          <i class="material-icons btn-icon btn-sky-icon" ngxClipboard  [cbContent]="shareEndpoint(endpoint.id)">share</i>
        </div>
        <!-- <div class="edit">
          <i class="material-icons btn-icon btn-sky-icon">mode_edit</i>
        </div> -->
      </div>
    </div>
  </div>
  <div class="pagging" *ngIf="limitPage > 1">
    <div class=""><label *ngIf="page > 1" (click)="onPage(-1)">Prev</label></div>
    <div class=""><label *ngIf="page < limitPage" (click)="onPage(+1)">Next</label></div>
  </div>
</div>