@import "colors";

.c-header {
    .options {
        display: flex;
        .new {
            margin-left: 10px;
        }
    }
}
.new-endpoint {
    animation: itemExpand .5s;
}
.endpoint {
    display: flex;
    align-items: center;
    overflow: hidden;
    .id {
        color: $sky_2;
        width: 80px;
        font-size: 12px;
        cursor: pointer;
    }
    .method {
        width: 80px;
        display: flex;
        justify-content: center;
    }
    .name {
        padding-left: 10px;
        font-weight: 400;
        flex: 1;
    }
    .options {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        opacity: 0.1;
        transition: opacity .2s;
        .copy,
        .share,
        .edit {
            padding: 0 5px;
            display: flex;
            align-items: center;
        }
    }
}
.endpoint:hover {
    .options {
        opacity: 1;
    }
}
.pagging {
    display: flex;
    align-items: center;
    justify-content: space-between;
}