<search-input></search-input>
<div class="endpoints">
  <div class="header">
    <div class="title">
      Endpoints
    </div>
    <div class="new" (click)="onNew()">
      <i class="material-icons btn-icon btn-sky-icon">add_box</i>
    </div>
  </div>
  <div class="items">
    <div class="item" *ngFor="let endpoint of endpoints">
      <div class="id">
        {{ endpoint.id }}
      </div>
      <div class="method">
        <span class="toggle-method toggle-{{ endpoint.method | lowercase }}">
          {{ endpoint.method }}
        </span>
      </div>
      <div class="name" (click)="onLink(endpoint.id)">
        {{ endpoint.name }}
      </div>
      <div class="options">
        <div class="copy">
          <i class="material-icons btn-icon btn-sky-icon">content_copy</i>
        </div>
        <div class="share">
          <i class="material-icons btn-icon btn-sky-icon">share</i>
        </div>
        <div class="edit">
          <i class="material-icons btn-icon btn-sky-icon">mode_edit</i>
        </div>
      </div>
    </div>
  </div>
</div>