<div class="search">
  <div class="header">
    SEARCH
  </div>
  <div class="text-input">
    <input type="text" name="input" class="input" />
  </div>
</div>
<div class="logs">
  <div class="header">
    <div class="title">
      Logs
    </div>
  </div>
  <div class="items">
    <div class="item" *ngFor="let log of logs" [class.active]="log.id === logTarget" (click)="onExpand(log.id)">
      <div class="main-row">
        <div class="name w-20">
          {{ log.name }}
        </div>
        <div class="method">
          <span class="toggle-method toggle-{{ log.method | lowercase }}">
            {{ log.method }}
          </span>
        </div>
        <div class="path">
          {{ log.path }}
        </div>
        <div class="date">
          {{ log.date | date }} {{ log.date | date:'shortTime' }}
        </div>
      </div>
      <div class="expand">
        <div class="log-request">
          <log-request></log-request>
        </div>
        <div class="log-request">
          <log-response></log-response>
        </div>
      </div>
    </div>
  </div>
</div>